@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
    background: #00031E;
}
h2{
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}
.app-logo, .app-logo-chat{
    font-family: 'Rampart One', cursive;
}
.cta-btn{
    background: #D00081;
    color: #FEF8F9;
}
.startForm{
    background: #0C113D;
    width: 342px;
}
.form-text{ 
    color: #F8F9FE;
}
.form-input {
    border: none;
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid #1f2937;
    color: #F8F9FE;
}
.formContainer{
  width: calc( 100% - 430px );
}
.form-input:focus, .form-input:not([value=""]):not(:focus):invalid {
  --tw-ring-opacity: 0;
  border-bottom: 2px solid #F8F9FE;
}
.user-panel{
  width: 430px;
  color: #F8F9FE;
  background: #0C113D;
}
.profile-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#content{
  background: #003759;
  border: none;
  color: #f8f9fe;
  height: 100px;
}
 #content:placeholder{
  color: rgba(255, 255, 255, 0.55);
}
.msg-submit, .file-input{
  height: 50px;
  line-height: 50px;
}
.file-input{
  background: #0070B6;
}
.msg {
  border-radius: 16px;
  background: #DDCBFA;
  max-width: 300px;
  min-width: 150px;
  max-height: 250px;
  word-break: break-all;
}  
.msg-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}
.msg-content {
  margin-left: 40px;
  color: #220059;
  font-size: 14px;
}  
.msg-user_name {
  color: rgb(34, 0, 89, 0.50);
  font-size: 12px;
}
.msg.msg-right {
  align-self: end;
  background: #A4F499;
}
.msg-right > .msg-image {
  right: -45px !important;
  left: auto !important;
}
.msg-right > .msg-content {
  margin-left: auto;
  margin-right: 40px;
  text-align: right;
  color: #094A00;
}
.msg-right > .msg-user_name {
  color: rgb(9, 74, 0, 0.50);
}
.btn {
  width: 280px;
  height: 60px;
  border: 1px solid #3DEBD6;
  border-radius: 8px;
  color: #C0F8F2;
  line-height: 60px;
  font-size: 24px;
}
.btn.logout {
  border: 1px solid #F17C8A;
  color: #FDE9EB;
}
.btn.disabled{
  cursor: default;
  border: 1px solid #86889c;
  color: #ededf0;
}
.btns-box {
  justify-content: end;
}
.full-shadow{
  z-index: 2;
  background: #000;
  opacity: 0.5;
}
.modal{
  z-index: 9;
  width: 500px;
  height: 500px;
  background: #0C113D;
  color: #F8F9FE;
  transform: translate(-50%, -50%);
}
#close-menu{
  display: none;
}
.close{
  cursor: pointer;
}
.form-submit{
  width: 140px;
  height: 35px;
}
.setting-form-upload{
  color: #F8F9FE;
}
.content-panel{
  width: calc(100% - 480px);
  margin-left: 480px;
  color: #F8F9FE;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
  margin-top: 4px;
}  
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}  
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FDE9EB;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: -10px;
  bottom: -5px;
  background-color: #ED5265;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #EEFDF4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #EEFDF4;
}

input:checked + .slider:before {
  background-color: #59ED92;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
.label{
  font-size: 12px;
  margin-left: 15px;
}
.app-logo-chat, #toggle-menu{
  display: none;
}
.profile_container{
  width: 100px;
  height: 100px;
}
.profile_container > img{
  width: 75px;
  height: 75px;
}
.waiting_friend{
  color: #99A4FF;
  position: absolute;
  bottom: 0;
  left: 5px;
  font-size: 30px;
}
.friend_name{
  line-height: 100px !important;
}
.fast_menu{
  color: #99A4FF;
}
media(max-width: 1000px){
  .user-panel{
    width: 100%;
    height: 100px;
    z-index: 2;
  }
  .formContainer{
    width: 100%;
  }
  .content-panel{
    height: calc(100vh - 200px);
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .app-logo-chat{
    display: block;
    line-height: 90px;
  }
  #toggle-menu, #close-menu{
    position: absolute;
    top: 30px;
    font-size: 30px;
    right: 25px;
    color: #F8F9FE;
    cursor: pointer;
    z-index: 2;
    display: block;
  }
  #toggle-menu{
    top: 50% !important;
    transform: translateY(-50%);
  }
  #user-dashboard{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: #0C113D;
  }
}
