@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
    background: #00031E;
}
h2{
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}
.app-logo, .app-logo-chat{
    font-family: 'Rampart One', cursive;
}
.cta-btn{
  background: #D00081;
  color: #FEF8F9;
}
.primary-btn{
  background: #2939CC;
  color: #CED2F2;
}
.cta-btn, .primary-btn{
    height: 35px;
}
.startForm{
    background: #0C113D;
    width: 342px;
}
.form-text{ 
    color: #F8F9FE;
}
/* Input */
.input-group{
  margin-bottom: 21px;
  margin-top: 21px;
}
.form-input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background-color: transparent;
  color: #eee;
}
input:focus{
  outline:none;
  box-shadow: none !important;
}
.input-group > label{
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
/* active state */
input:focus ~ label, input:valid ~ label{
  top:-20px;
  font-size:14px;
  color:#808DFF;
}
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#808DFF; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}
/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#808DFF; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#808DFF; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#808DFF; }
  to 	{ width:0; background:transparent; }
}
.user-panel{
  width: 430px;
  color: #F8F9FE;
  background: #0C113D;
}
.profile-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.formContainer{
  width: 375px;
  height: 200px;
  background: #A4F499;
  border-radius: 16px;
}
#content{
  height: 150px;
  background-color: #A4F499;
  border: none;
  color: #094A00;
  border-radius: 16px;
}
#content:placeholder{
  color: rgba(9, 74, 0, 0.55);
}
.msg-submit{
  font-size: 24px;
  text-align: center;
  color: #CF0284;
  text-shadow: 2px 2px 6px #CF0284;
  height: 50px;
  width: 100%;
  max-width: 75px;
}

.msg {
  border-radius: 16px;
  background: #DDCBFA;
  max-width: 300px;
  min-width: 150px;
  max-height: 250px;
  word-break: break-all;
}  
.msg-image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}
.content-image{
  min-width: 150px;
  max-width: 240px;
  max-height: 200px;
}
.msg-content {
  margin-left: 40px;
  color: #220059;
  font-size: 14px;
}  
.msg-user_name {
  color: rgb(34, 0, 89, 0.50);
  font-size: 12px;
}
.msg.msg-right {
  align-self: end;
  background: #A4F499;
}
.msg-right > .msg-image {
  right: -45px !important;
  left: auto !important;
}
.msg-right > .msg-content {
  margin-left: auto;
  margin-right: 40px;
  text-align: right;
  color: #094A00;
  padding-top: 10px
}
.msg-right > .msg-user_name {
  color: rgb(9, 74, 0, 0.50);
}
.btn-modal {
  height: 60px;
  border: none;
  border-radius: 16px;
  line-height: 60px;
  font-size: 24px;
}
.btn-modal.btn-danger{
  border: 2px solid #F17C8A;
  box-sizing: border-box;
  transition: box-shadow .5s ease-in-out;
}
.btn-danger:hover{
  box-shadow: 0px 0px 10px 4px #F17C8A;
  transition: box-shadow .5s ease-in-out;
}
.btn.disabled{
  cursor: default;
  border: 1px solid #86889c;
  color: #ededf0;
}
.btns-box {
  justify-content: end;
}
.full-shadow{
  z-index: 2;
  background: #000;
  opacity: 0.5;
}
.modal{
  z-index: 9;
  width: 500px;
  height: 500px;
  background: #0C113D;
  color: #F8F9FE;
  transform: translate(-50%, -50%);
}
.modal-xl{
  width: 650px;
  height: 550px;
}
#close-menu{
  display: none;
}
.close{
  cursor: pointer;
}
.form-submit{
  width: 140px;
}
.setting-form-upload{
  color: #F8F9FE;
}
.content-panel{
  width: calc(100% - 480px);
  margin-left: 480px;
  color: #F8F9FE;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 5px;
  margin-top: 4px;
}  
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}  
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FDE9EB;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  left: -7px;
  bottom: -4px;
  background-color: #ED5265;
  transition: .4s;
}

input:checked + .slider {
  background-color: #EEFDF4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #EEFDF4;
}

input:checked + .slider:before {
  background-color: #59ED92;
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
.label{
  font-size: 12px;
  margin-left: 15px;
}
.app-logo-chat, #toggle-menu{
  display: none;
}
.profile_container{
  width: 100px;
  height: 100px;
}
.profile_container > img{
  width: 75px;
  height: 75px;
}
.waiting_friend{
  color: #99A4FF;
  position: absolute;
  bottom: 0;
  left: 5px;
  font-size: 30px;
}
.friend_name{
  line-height: 100px !important;
}
.open_fast_menu{
  color: #99A4FF;
  cursor: pointer;
}
.fast_menu{
  background: #333B80;
  color: #FAF8FE;
  border-radius: 8px;
  width: 160px;
  right: -170px;
  bottom: 0;
}
.fast_menu_btn{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;color: #B2D1CA;
}
#acceptInvite{
  color: #B2D1CA;
}
#decelineInvite, #cancelInvite{
  color: #D1B2B5;
}
.cancel_fast_menu{
  color: #979599;
}
.btn_invite{
  background: #2939CC;
  color: #CED2F2;
  border-radius: 8px;
  font-size: 12px;
  width: 140px;
  height: 35px;
  line-height: 35px;
  border: none;
}
.cancel_invite{
  border-radius: 8px;
  font-size: 12px;
  width: 140px;
  height: 35px;
  background: #ED5265;
  color: #FDE9EB;
  line-height: 35px;
  border: none;
}
.friend.border-b-2{
  border-color: #4D5499;
  padding-bottom: 5px;
  margin-bottom: 5px; 
}
 /* width */
 ::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1F2B99;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3D4699;
} 
/* Filepond */
.filepond--root{
  width: 170px !important;
  height: 170px !important;
  margin: 0 auto !important;
}
.settings-btn {
  width: 180px;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
}
.settings-btn.delete_room{
  border: 2px solid #F17C8A;
  color: #FDE9EB;
}
.settings-btn.back{
  border: 2px solid #D9B8BC;
  color: #D9B8BC;
}
.add-friends{
  border: 2px solid #59ED92;
  color: #EEFDF4;
  transition: box-shadow .5s ease-in-out;
}
.add-friends:hover{
  box-shadow: 0px 0px 10px 4px #59ED92;
  transition: box-shadow .5s ease-in-out;
}
.box_switch_modal{
  transform: translateY(-50%);
  height: 35px;
}
#file{
  height: 50px !important;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 16px;
  width: 100% !important;
  max-width: 300px;
}
#file > .filepond--panel-root{
  background: rgba(0, 0, 0, 0.75) !important;
  border-radius: 16px !important;
}
#file > .filepond--drop-label{
  color: #FFFFFF;
  min-height: auto;
  height: 50px;
}
#file > .filepond--drop-label label{
  line-height: 50px;
  padding: 0;
}
/* New buttons */
.btn {
  height: 60px;
  border: none;
  border-radius: 0;
  color: #F4FAFE;
  line-height: 60px;
  font-size: 24px;
}
.btn-secondary{
  color: #ECFDFB;
}
.btn.logout {
  color: #FDE9EB;
}
.btn.animated-button{
	position: relative;
	display: block;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.btn.animated-button:after, .btn.animated-button:before{
	content: "";
	position: absolute;
	height: 1px;
	left: 0;
	width: 100%;
	z-index: 0;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
.btn.animated-button:after{
	top: 0;
}
.btn.animated-button:before{
  bottom: 0;
}
.btn.animated-button:hover:after{
	height: 100%;
}
/* Victoria Buttons */
.btn.animated-button.victoria-three:after, .btn.animated-button.victoria-three:before {
	background: rgba(2, 113, 178, 1);
  box-shadow: 0px 0px 10px 1px #074178;
	opacity: .5;
  height: 1px;
}
.btn.animated-button.victoria-three:hover:after {
	height: 100%;
  background: rgba(2, 113, 178, 1);
	opacity: 1;
}
/* Secondary Button */
.btn.animated-button.btn-secondary:after, .btn.animated-button.btn-secondary:before {
	background: rgba(1, 122, 106, 1);
  box-shadow: 0px 0px 10px 1px rgba(1, 122, 106, 1);
	opacity: .5;
  height: 1px;
}
.btn.animated-button.btn-secondary:hover:after {
	height: 100%;
  background: rgba(1, 122, 106, 1);
	opacity: 1;
}
/* Gray Button */
.btn.animated-button.btn-gray:after, .btn.animated-button.btn-gray:before {
  background: rgba(125, 139, 148, 1);
  box-shadow: 0px 0px 10px 1px rgba(125, 139, 148, 1);
	opacity: .5;
  height: 1px;
}
.btn.animated-button.btn-gray:hover:after {
	height: 100%;
  background: rgba(125, 139, 148, 1);
	opacity: 1;
}
/* Logout Button */
.btn.animated-button.logout:after, .btn.animated-button.logout:before {
  background: rgba(132, 1, 19, 1);
  box-shadow: 0px 0px 10px 1px rgba(132, 1, 19, 1);
	opacity: .5;
  height: 1px;
}
.btn.animated-button.logout:hover:after {
	height: 100%;
  background: rgba(132, 1, 19, 1);
	opacity: 1;
}

.cta-btn.btn-modal {
  height: 35px;
  width: 180px;
  border: 2px solid #D00081;
  line-height: 35px;
  font-size: 15px;
  background: linear-gradient(135deg, rgba(37,14,64,1) 25%, rgba(47,0,101,1) 50%, rgba(37,14,64,1) 75%); 
  transition: box-shadow .5s ease-in-out;
}

.cta-btn.btn-modal:hover {
  box-shadow: 0px 0px 10px 4px #D00081;
  transition: box-shadow .5s ease-in-out;
}
#image-full-screen {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: auto;
  max-width: calc(100vw - 30%);
  max-height: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
#messagesList {
  height: calc(100vh - 200px);
  overflow-y: auto;
}
.unreaded {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-image: url(/storage/images/5.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: 40px 40px;
  color: #f0e8f0;
}
.room_last_msg {
  color: #767b95;
}
.profile-image-room{
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  opacity: .9;
}
.room > .open_fast_menu{
  width: 30px;
  z-index: 1;
}
.cta-btn.btn-modal.w-1\/2.md\:w-1\/3 {
  width: 33.3333333%;
}
.msg-date {
  color: rgb(34, 0, 89, 0.50);
  font-size: 11px;
}
.msg-date.left-1 {
  color: rgb(34,0,89,.5);
}
.btn-notify{
  transform: translateY(-50%);
  background-image: url(/storage/images/5.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: 40px 40px;
  color: #f0e8f0;
  width: 40px;
  font-size: 18px;
}
#feedback_wrapper{
  transform: translateX(-50%);
  background: #4a58d7;
  min-width: 200px;
  text-align: center;
}
#feedback_wrapper.danger{
  background: rgb(206, 29, 53);
}
@media(max-width: 768px){
  .user-panel{
    width: 100%;
    z-index: 2;
  }
  .hello-user {
    line-height: 90px;
    text-align: left;
    }
  .formContainer{
    width: 100%;
  }
  .content-panel{
    height: calc(100vh - 200px);
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .app-logo-chat{
    display: block;
    line-height: 90px;
  }
  #toggle-menu, #close-menu{
    position: absolute;
    font-size: 30px;
    right: 0;
    line-height: 90px;
    width: 75px;
    color: #F8F9FE;
    cursor: pointer;
    z-index: 2;
    display: block;
  }
  #toggle-menu{
    top: 50% !important;
    transform: translateY(-50%);
  }
  #user-dashboard{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    background: #0C113D;
  }
  .content-panel {
    margin-left: 0;
  }
  .modal {
    width: 100%;
    height: 100%;;
  }
  .close {
    font-size: 24px;
    left: 96%;
  }
  #content {
    height: 100px;
  }
  .formContainer {
    height: 150px;
  }
  #messagesList { 
    height: calc(100vh - 250px);
  }
  .fast_menu {
    right: 8px;
    bottom: 50%;
    transform: translateY(50%);
    width: 140px;
    z-index: 1;
  }

  .fast_menu_btn {
    font-size: 14px;
    margin-bottom: 14px;
  }
}
